

.LandingPage{
    font-family: 'Public Sans', sans-serif;
    margin-top: 120px; 
    text-align: center;
    padding-bottom: 10px;
    line-height: 1.6;

}
.LandingPage>p{
    font-family: 'Sulphur Point', sans-serif; 

}
section.quotes {
    padding: 0 50px 0 50px;
    display: flex;
    flex-direction: column;
    font-family: 'Sulphur Point', sans-serif; 
    color: white;
}

.quote{
    background-color:  rgb(89, 188, 250, .8);
    border-radius: 20px;
    width: 150px;
    padding: 5px;
    
}
.quote-2{
    margin: auto;
}
.quote-3{
    margin-left: auto;
}
.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
  }
  .fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }
.app-features{
    font-family: 'Sulphur Point', sans-serif; 

}
header>h1{
    font-family: 'Bungee', cursive;
    color: white;
    font-size: 40px;
    letter-spacing: .2em;
}
.friends-image{
    display: flex;
    justify-content: center;
}
header>h2{
    font-family: 'Sulphur Point', sans-serif;
    color: white;
    font-size: 20px;
}
.banner-main{
    font-family: 'Bungee Shade', cursive;
    position: relative;
    width: 300px;
    height: 403px;
    background-color: none;
}
.logo-landing-page{
    border: none;
}
.speech-text{
    margin-top: 64px;
    position: absolute;
}
.speech-bubble-text{
font-family: 'Bungee Shade', cursive;
display: flex;
font-weight: bold;
justify-content: center;
}

.speech-bubble{
margin-right: 20px;
}
.app-how-to-use>p{

    padding-bottom: 30px;
}
.landing-page-register{
    
    padding: 20px;
    background-color: rgb(158, 245, 115, .8);
}
.landing-page-bottom{
    padding-bottom: 20px;
}
.add-event-word-landingpage{
    border: solid;
    background: #fbff12;
    padding: 5px;
}
.home-word-landingpage{
    border: solid;
    background: orange;
    padding: 5px;
}
.friends-word-landingpage{
    border: solid;
    background: #41ead4;
    padding: 5px;
}
.filter-word-landingpage{
    border: solid;
    background: #ff206e;
    padding: 5px;
}
.register-button{
    margin: auto;
    background-color:black;
    border: none;
    color: white;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 70px;
}

.app-screenshot{
margin-top: 30px;
border-style: solid; 
border-width: 2px;

}
.github-link-container{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.github-link{
    padding: 5px;
    text-decoration: none;
    color: black;
    border: solid black;
    letter-spacing: .4em;
}