.green{
    color:green;
    font-weight: 300;
}

.red {
    color:red;
}

.LoginForm{
    height: 1400px;
}

.LoginForm > button{
background-color: black;
padding: 20px;
border: none;
color: white;
}

.LoginForm > button:hover{
    border-color: #3CACD5;
    color: #3CACD5;
}