.green{
    color:green;
    font-weight: bold;
    letter-spacing: 1em;
}

.red {
    color:red;
}
.demo-now{
    cursor: pointer;
    letter-spacing: .3em;
    text-align:center;
}
.demo{
    color: rgb(155, 153, 153);
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid;
    font-family: 'Public Sans', sans-serif;
    font-size: small;
    width: 200px;
}
.LoginForm > button{
background-color: black;
padding: 20px;
border: none;
color: white;
}
.Loader-login {
    will-change: transform;
    overflow: hidden;
    border: 12px solid black;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: absolute;
  
  }