.Dashboard{
font-family: 'Bungee Shade', cursive;
display: flex;
flex-direction: column;
align-content: space-between;
font-size: 40px;
margin: 40px;

}
.Dashboard> a{
color: black;
margin-bottom: 40px;
text-decoration: none;
}
.dayboard-header{
margin-top: 10px;
text-align: center;
font-size: 30px;
letter-spacing: .5em;
}
.help-link-container{
    height: 50px;
    text-align: center;
}
.help-link{
    font-family: 'Public Sans', sans-serif;
    font-size: small;
    padding: 5px;
    margin-top: 20px;
    text-decoration: none;
    color: black;
    border: solid black;
    letter-spacing: .4em;
}
@media screen and (min-width: 770px) {
.dayboard-header{
    margin-top: 50px;
    margin-bottom: 50px;
    letter-spacing: .9em;
}
.Dashboard> a:hover{
    font-size: 70px;
    }
    .Dashboard> a:focus{
    font-size: 70px;
    }
}