/* .Day-Events:nth-child(even){
background: black;

}
.Day-Events:nth-child(odd){

background-color: green;
} */
.FriendPage>h2{
font-size: 50px;
font-family: 'Public Sans', sans-serif;

}
.FriendPage{
padding-bottom: 40px;
}
.friends-header{
margin-top: 90px;
display: flex;
justify-content: space-between;
}
.friends-header>h2{
font-size: 40px;
}
.get-new-friends-link{
overflow: hidden;
text-align: center;
margin-top: 50px;
margin-right: 10px;
height: 30px;
font-size: 15px;
font-family: 'Public Sans', sans-serif;
text-decoration: none;
color: orangered;
padding: 10px 10px 15px 10px;
border: solid;
letter-spacing: .3em;
margin-left: 20px;
}

@media screen and (min-width: 550px) {
  .get-new-friends-link{
  margin-top: 25px;
  margin-right: 10px;
  height: 30px;
  font-size: 15px;
  font-family: 'Public Sans', sans-serif;
  text-decoration: none;
  color: orangered;
  padding: 10px 2px 0 6px;
  border: solid;
  letter-spacing: .3em;
  margin-left: 20px;
  }
}