/* .Day-Events:nth-child(even){
    background: black;

}
.Day-Events:nth-child(odd){

  background-color: green;
} */
.FriendPage>h2{
    font-size: 50px;
    font-family: 'Public Sans', sans-serif;
 
}
.FriendPage{
  padding-bottom: 40px;
}
.FriendPage>a{
  font-size: 50px;
  font-family: 'Public Sans', sans-serif;
  text-decoration: none;
  color: orangered;
}